*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    width: 100%;
   height: 100%;
}
.header{
    width: 100%;
   /* position: absolute; */
    background-color: rgb(33, 10, 28);
    color: white;
    border-radius: 0 0 200% 200%/0 0 50% 50%;
    transform: scaleX(1);
    padding-bottom: 200px;
    z-index: 1;
    /* clip-path: circle(180vh at 50% -80vh); */
    /* border-radius: 50% 0% 50% 50/ 0% 0% 100% 100%; */
    /* border-bottom-left-radius: 40%;
 border-bottom-right-radius:50% ;
 padding-bottom: 150px;
 transform: scaleX(2);
 margin: 0 auto; */
 }
 /* .header::before{
 content: '';
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
   background-color: rgb(33, 10, 28);
   border-radius: 0% 0% 50% 50/ 0% 0% 100% 100%;
   /* border-bottom-left-radius: 40%;
border-bottom-right-radius:50% ;
padding-bottom: 150px; */
/* transform: scaleX(2);
margin: 0 auto;
} */ 
 .header a{
   color: white;
    float: right;
    margin-right: 200px;
    padding-top: 30px;
    text-underline-offset: 10px;
   text-decoration: underline;
    text-decoration-color: rgb(15, 245, 122);
    font-size: 1.5rem;
 }
 .header h2{
    margin-left: 420px;
font-size: 3rem;
padding-top: 20px;
    
 }
 .header h4{
    padding: 30px 80px;
    font-size: 1.5rem;
 }
 strong{
   text-underline-offset: 5px;
   text-decoration: underline;
    text-decoration-color: rgb(15, 245, 122);
   }
 button{
    text-decoration: none;
    margin-left: 470px;
    margin-top: 150px;
    position: absolute;
    border: solid  rgb(15, 245, 122);
    background-color:rgb(15, 245, 122) ;
 }
 button a{
   text-decoration: none;

}
.body{
    /* background-color: rgb(215, 199, 199); */
    /* background:rgb(215, 199, 199) ; */
    width:100% ;
    height: 40vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* position: absolute; */
  display: none;
  z-index: 0;
  /* padding-top: 400px; */
  /* clip-path: ellipse(95% 70% at 50% 25%); */
  border-radius: 0 0 200% 200%/0 0 40% 40%;
  /* transform: scaleX(1); */
  margin-top: 400px;
 /* border-bottom-left-radius: 40%;
 border-bottom-right-radius:20% ;
padding-top: 800px; */

 }
 .body1{
   
    padding: 20px 30px;
    height: 150px;
    margin-top: -340px;
 }
 .body h3{
   font-size: 2rem;
    padding: 10px 0px;
 }
 .body p{
   font-size: 1.2rem;
   /* padding: 10px 0px; */
}
 span{
 padding: 40px 10px;
 }
 .body2{
 height: 150px;
 padding: 20px 30px;
 margin-top: -340px;
 }
 .body2 h3{
    padding: 10px 0px;
 }
 .body3{
    padding: 20px 30px;
    height: 150px;
    margin-top: -340px;
 }
 .body3 h3{
    padding: 10px 0px;
 }
 .circle{
    border-radius: 50%;
    border: 1px solid black;
   margin-left: 100px;
    height: 30px;
    width: 30px;
 }
 .image{
   width: 100%;
   position: absolute;
   margin-top: -30px;
 }
 .image h4{
  margin-left: 350px;
  margin-top: 100px;
  font-size: 2rem;
}
 .content{
   background-color: rgb(33, 10, 28);
   color: white;
    width:720px;
    padding: 0px 10px 50px 0px  ;
    margin-left: 290px;
    position: absolute;
    margin-top: 100px;
    font-size: 1.4rem;
 }
 .phone img{
   width: 250px;
   position: absolute;
   margin-left: 400px;
   margin-top: 100px;
 }
 .curve img{
   width: 100px;
   margin-top:-100px ;
   margin-left: 1200px;
   position: absolute;
 }
 .curve1 img{
   width: 100px;
   margin-top:-100px ;
   margin-right: 150px;
   position: absolute;
 }
 .curve2 img{
   width: 100px;
   margin-top:150px ;
   margin-left: 430px;
   position: absolute;
 }
 .content h3{
   padding: 20px 20px;
   font-size: 2rem;
}
.content p{
   padding: 10px 20px;
   font-size: 1.2rem;
}
 .content button{
    padding: 10px 10px;
    margin-left: 19px;
    border: solid  rgb(15, 245, 122);
    /* margin-bottom: 50px; */

    margin-top: 170px;
 }
 .bxl-facebook-circle{
   margin-left: 340px;
   position: absolute;
   margin-top: 40px;
   font-size: 2rem;
}
.bxl-instagram-alt{
   margin-left: 380px;
   position: absolute;
   margin-top: 40px;
   font-size: 2rem;
}
.bxl-twitter{
   margin-left: 430px;
   position: absolute;
   margin-top: 40px;
   font-size: 2rem;
}
 .image1 {
    background-color: rgb(15, 245, 122);
    border-radius: 50%;
    height: 250px;
    width: 250px;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
 }
 .image1 img{
    border-radius: 50%;
    height: 250px;
    width: 220px;
 }